.clickable { cursor: pointer; }

img { background: url(../../../media/loading.gif) 50% no-repeat; }
abbr { text-decoration: none !important; border: none !important; }

a.icomoon:hover { text-decoration: none; }
a.icomoon > i { font-size: 12pt; padding: 15px; }

@media only screen and (max-width: 600px) {
    #vCard { text-align: center; }
}
